input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#save{
    position: fixed;
    height: 50px;
    width: 400px;
    text-align: center;
    background-color: firebrick;
    font-size: 22pt;
    color: white;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.character_menu{
    width: 100%;
    overflow: hidden;
}

.char_menu_tab{
    background-color: #1C2429;
    width: 50%;
    min-width: 600px;
    max-width: 1200px;
    margin:auto;
}

.char_menu_tab button{
    margin: auto;
    background-color: #E8903B ;
    float: left;
    border: solid 1px gainsboro;
    border-bottom: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12pt;
}

.char_menu_tab button:hover{
    background-color: gainsboro;
    color: #1C2429;
}

.char_menu_tab button.active{
    border: solid 1px #E8903B;
}

.char_content{
    display: none;
    width: 50%;
    min-width: 850px;
    max-width: 1200px;
    min-height: 1100px;
    margin: auto;
    background-color: #1C2429;
}

.row{
    display: block;
    border: solid 5px none;
    padding:10px;
    margin-top: 20px;
}

.char_icon{
    width: 15%;
    max-width: 175px;
    max-height: 175px;
    float:left;
    text-align: center;
}

.char_icon img{
    width: 100%;
    max-width: 120px;
    border: solid 2px #E8903B;
    border-radius: 50%;
}

.character_name{
    width: 28%;
    min-height:130px;
    padding: 10px 2%;
    float:left;
    text-align: center;
}

.character_name div{
    text-align: center;
    color:gainsboro;
    font-size: 24pt;
    margin-top: 10%;
    margin-bottom: 2%;
    border: solid 1px #E8903B;
    border-radius: 20%;
    padding: 2px 0px;
}

.character_name span{
    color: rgb(34, 162, 179);
    font-size: 16pt;
}


.character_info_row{
    display: block;
    float: left;
    width: 35%;
    height: 50%;
    min-height: 150px;
}

.char_info{
    position: relative;
    width:45%;
    min-height: 60px;
    padding: 5px;
    float: left;
    text-align: center;
}

.char_info div{
    text-align: center;
    font-size: 14pt;
    margin: 3% 0;
    vertical-align: middle;
    border: solid 1px #E8903B;
    border-radius: 20%;
    padding: 2px 0px;
}

.char_info span{
    font-size: 10pt;
    color: rgb(34, 162, 179);
}

.health_panel{
    padding: 1px;
    position: relative;
    overflow: hidden;
    min-height: 150px;
    text-align: center;
    font-size: 20pt;
}

.HP_panel{
    display:inline-block;
    width: 40%;
    max-width: 50px;
    margin-top: 25%;
    margin-bottom: 2%;
    font-size: 24pt;
    border: solid 1px #E8903B;
    border-radius: 20%;
}

.attr_item{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 10%;
    top: -15px;
    max-width: 150px;
    margin-bottom: 20px;
}

.attr_item span{
    font-size: 18pt;
}

.attr_value{
    height: 50px;
    width: 50px;
    margin: auto;
    border: solid 5px rgb(34,162,179);
    border-radius: 50%;
    text-align: center;
    font-size: 200%;
    font-weight: bolder;
    background-color:none;
    color: gainsboro;
    line-height: 150%;
}

.passive_item{
    display: inline-block;
    text-align: center;
    width: 15%;
    max-width: 150px;
    margin-left: 10px;
}

.passive_item span{
    font-size: 14pt;
}

.passive_value{
    height: 60px;
    width: 60px;
    margin: auto;
    margin-top: 2px;
    border: solid 5px rgb(34,162,179);
    border-radius: 20%;
    text-align: center;
    font-size: 200%;
    font-weight: bolder;
    background-color:none;
    color: gainsboro;
    line-height: 150%;
}

.attr_mod{
    margin:auto;
    margin-top: -30px;
    height: 25px;
    width: 35px;
    padding: 4px 0px;
    background-color: gainsboro;
    color: black;
    border: solid 2px rgb(34, 162, 179);
    border-radius: 50%;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

.character_body_col{
    background-color: none;
    float:left;
    width: 40%;
    margin: auto;
    text-align: center;
}

.character_body_col img{
    opacity: 0.75;
}

.body_panel_col{
    background-color: none;
    min-width: 250px;
    overflow: hidden;
}

.body_panel_tab{
    overflow: hidden;
}

.body_panel_tab button{
    background-color: inherit;
    float: left;
    border: solid 1px gainsboro;
    border-bottom: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    color: gainsboro;
    font-size: 12pt;
}

.body_panel_tab button:hover{
    background-color: gainsboro;
    color: black
}

.body_panel_tab button.active{
    background-color: rgb(34, 162, 179);
    border: solid 1px rgb(34,162,179);
}

.body_panel_content{
    display: none;
    padding: 5px 10px;
    border: 5px solid rgb(34, 162, 179);
}

.equipped_item{
    margin: 3px;
    margin-bottom: 10px;
    height: 65px;
    width: 100%;
    display: inline-block;
    border: solid 1px #E8903B;
}

.equipped_item img{
    float:left;
    height: 65px;
    width: 65px;
}

.item_name{
    position: relative;
    overflow: hidden;
    font-size: 18pt;
    padding: 0px 20px;
    top: 50%;
    transform: translate(0, -50%);
}

.stim_item{
    margin: 3px;
    height: 100px;
    width: 100%;
    display: inline-block;
    border: solid 1px #E8903B;
}

.stim_item img{
    float:left;
    height:100px;
    width: 100px;
}

.status_item{
    margin: 3px;
    height: 75px;
    width: 100%;
    display: inline-block;
    border: solid 1px #E8903B;
}

.status_item img{
    float:left;
    height:73px;
    width: 73px;
}

.panel_title{
    position: relative;
    float:left;
    margin: 20px;
    font-size: 24pt;
    color: rgb(34,162,179);
}

.skill_points{
    overflow: hidden;
    position: relative;
    float: right;
    margin-right: 25px;
    margin-top: 25px;
}

.skill_points label{

}

.skill_points input{
    height: 25px;
    width: 50px;
    text-align: center;
    font-weight: bolder;
    font-size: 16pt;
}

.skill_header{
    position: relative;
    float: left;
    width: 100%;
    height: 40px;
}

.skill_header div{
    position: relative;
    float: left;
    height: 100%;
    color: #823b8a;
    font-weight: bolder;
    text-align: center;
}

.skill_row{
    position: relative;
    float:left;
    width: 100%;
    border: solid 1px rgb(34, 162, 179);
    height: 50px;
}

.skill_row > *{
    float: left;
    vertical-align: center;
}

.skill_row button{
    height: 20px;
    width: 20px;
    background-color: #E8903B;
    margin-left: 10px;
    margin-top: 15px;
}
.skill_level_value{
    width: 25px;
    margin: 0px 10px;
    margin-top: 10px;
    height: 60%;
    background-color: gainsboro;
    text-align: center;
}

.skill_level_value div{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    color: #1C2429;
}

.skill_name{
    width: 12%;
    min-width: 80px;
    margin-left: 20px;
    height: 100%;
}

.skill_name div{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    color: gainsboro;
    font-weight: bolder;
}

.skill_mod{
    width: 15px;
    margin-right: 20px;
    height: 100%;

}

.skill_mod div{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    color: rgb(148, 148, 148);
}

.skill_level_chart{
    height: 100%;
}

.skill_checkpoint{
    position: relative;
    float: left;
    width: 12px;
    height: 20px;
    border: solid 1px rgb(148, 148, 148);
    border-radius: 20%;
    top: 50%;
    transform: translate(0, -50%);
    background-color: none;
    margin-right: 3px;
}

.skill_mark{
    position: relative;
    float: left;
    width: 5px;
    height: 20px;
    border: solid 1px rgb(148, 148, 148);
    border-radius: 20%;
    top: 50%;
    transform: translate(0, -50%);
    background-color: none;
    margin-right: 3px;
}

.expertise{
    overflow: hidden;
    margin-left: 10px;
    height: 100%;
}

.expertise div{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    color: #E8903B;
}