body {
    background: black;
    display: flex;
    flex-direction: column;
    color: lime;
    font-family: monospace;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1800px;
    height: 800px;
}

button {
    font-family: monospace;
    color: lime;
    background: none;
    border: solid 1px gainsboro;
}

.front-page {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.start {
    width: 400px;
    padding: 10px;
    font-size: 3rem;
    margin: auto;
    margin-top: 50px;
    font-family: monospace;
    color: lime;
    background: none;
    border: solid 1px gainsboro;
}

.redOverlay {
    position: fixed;
    height: 2000px;
    width: 2000px;
    background: red;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s;
}

.hack-title {
    width: 100%;
    color:yellow;
    text-align: left;
    padding: 10px 60px;
}

#first-hack {
    display: flex;
    width: 100%;
    flex-direction: column; 
}

.danger-level {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.danger-frame {
    height: 100%;
    width: 1200px;
    border: solid 1px gainsboro;
}

.danger-fill {
    height: 100%;
    width: 0%;
    background-color: red;
}

.hack-container {
    display: flex;
    width: 100%;
    height: 240px;
    justify-content: center;
    padding-top:40px;
}

.hack-progress {
    position: relative;
    padding: 20px;
}

.hack-progress > div {
    top: 20px;
    font-size: 1rem;
}

.progress-icon {
    position: absolute;
    height: 30px;
    width:30px;
    left: 15px;
    top: -5px;
    transform: rotate(180deg);
}

.goal-icon {
    position: absolute;
    height: 30px;
    width:30px;
    left: 15px;
    top: 40px;
}

.hack-progress > p {
    margin-top: 100px;
    font-size: 1.2rem;
}

.actions > button {
    height: 80px;
    width: 150px;
    font-size: 1.5rem;
}

.navigation > button {
    width: 150px;
    height: 50px;
    margin-top: 50px;
}

.reset {
    color: black;
    font-size: 1.5rem;
    background-color:red;
}

.timeout {
    color: red;
    font-size: 3rem;
}

.timer {
    color: red;
    font-size: 5rem;
}

