body{
    background-color: black;
    color: white;
}

div{
    position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.row{
    display: block;
    width: 80%;
    min-height: 230px;
    padding:5px;
    margin: auto;
    margin-top: 10px;
    border: solid 5px none;
}

.char_menu{
    width:100%;
}

.char_menu li{
    display: inline-block;
    width: 200px;
}

.main_menu_item{
    display: inline;
}

.character_sheet{
    width: 100%;
}

.char_icon{
    width: 10%;
    padding: 5px;
    float:left;
    text-align: center;
}

.char_icon img{
    height: 200px;
    padding: 5px;
    border: solid 5px gainsboro;
    border-radius: 50%;
}

.character_name{
    width: 24%;
    padding: 5px;
    float:left;
    text-align: center;
    padding-top:50px;
}

.character_name input{
    width:80%;
    height:50px;
    text-align: center;
    font-size: 18pt;
    margin-bottom: 10px;
}

.character_name label{
    font-size: 24pt;
}

.character_info_row{
    height: 75px;
    margin-top: 25px;
    padding: 5px;
    overflow:hidden;
}

.char_info{
    width:23%;
    padding: 5px;
    float: left;
    text-align: center;
}

.char_info input{
    width: 90%;
    height: 25px;
    text-align: center;
    font-size: 14pt;
    margin-bottom: 2px;
}

.attr_col{
    background-color: none;
    width: 15%;
    min-width: 250px;
    float:left;
}

.attr_item{
    display: block;
    text-align: center;
    margin: 10px 0px;
}

.attr_item label{
    font-size: 20pt;
}

.attr_item input{
    height: 70px;
    width: 70px;
    border: solid 5px rgb(34,162,179);
    border-radius: 50%;
    text-align: center;
    font-size: 28pt;
    font-weight: bolder;
    background-color: black;
    color: white;
}

.attr_mod{
    margin:auto;
    margin-top:-15px;
    max-height: 35px;
    max-width: 35px;
    padding: 4px 0px;
    background-color: white;
    color: black;
    border: solid 2px rgb(34, 162, 179);
    border-radius: 50%;
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
}

.character_body_col{
    background-color: none;
    float:left;
    margin: 0px 25px;
}

.character_body_col img{
    height: 900px;
    opacity: 0.75;
}

.body_panel_col{
    background-color: none;
    min-width: 250px;
    overflow: hidden;
}

.body_panel_tab{
    overflow: hidden;
}

.body_panel_tab button{
    background-color: inherit;
    float: left;
    border: solid 1px white;
    border-bottom: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

.body_panel_tab button:hover{
    background-color: white;
    color: black
}

.body_panel_tab button.active{
    background-color: rgb(34, 162, 179);
}

.body_panel_content{
    display: none;
    padding: 6px 12px;
    border: 5px solid rgb(34, 162, 179);
}

.equipped_item{
    margin: 3px;
    height: 75px;
    width: 100%;
    display: inline-block;
    border: solid 1px rgb(34, 162, 179);
}

.equipped_item img{
    float:left;
    height:73px;
    width: 73px;
}

.item_name{
    overflow: hidden;
    font-size: 24pt;
    padding: 0px 20px;
}